@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;700&family=Montserrat:wght@300&family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
body {
  overflow-x: clip;
  width: 100vw;
  background-color: #ecf3ff;
}
a {
  text-decoration: none;
  color: #464c53;
}

/*PopUp*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup article {
  background-color: #ecf3ff;
  font-size: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.popup button {
  font-size: smaller;
}
/*Nav*/
.nav {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  align-items: center;
  color: ##2c3034;
  background: #ecf3ff;
  display: flex;
  box-shadow: #d2f1f6 2px 2px;
}
.nav ul {
  display: none;
  justify-content: space-between;
  width: 30%;
  font-size: larger;
  color: ##2c3034;
  list-style: none;
  font-weight: bolder;
}
.nav li {
  padding: 5px;
}
.nav li:hover {
  border-bottom: 4px solid #6806e7b7;
}
.nav h2 {
  display: block;
}
.nav h1 {
  display: block;
  margin-right: 20px;
  font-size: 35px;
}
.nav span {
  color: #6806e7b7;
}
.nav h2 {
  margin-left: 20px;
}
.nav button {
  height: 45px;
  width: 100px;
  background-color: #6806e7b7;
  border-radius: 20px;
  color: #ecf3ff;
  font-weight: bolder;
  margin-right: 30px;
  border: none;
  display: none;
}
.menu {
  position: absolute;
  width: 100vw;
  height: 80vh;
  z-index: 2;
  left: 0;
  top: 70px;
  background-color: ##2c3034;
  color: #ecf3ff;
  overflow-y: scroll;
}
.menu li {
  list-style: none;
  font-size: larger;
  padding: 25px;
  border-bottom: 1px solid grey;
}
.menu a {
  color: #ecf3ff;
}
.menu li:hover {
  background-color: #464c53;
}
.number {
  position: absolute;
  right: 30px;
  top: 80px;
  color: #ecf3ff;
  background-color: #464c53;
  padding: 10px;
  border-radius: 20px;
  font-size: 30px;
  height: 100px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Header Section*/
.header {
  background-color: #ecf3ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-bottom: 80px;
  padding: 10px;
  overflow: hidden;
  color: ##2c3034;
}
.header-text {
  width: 100%;
  padding: 10px;
  font-size: 25px;
  margin: 10px;
}
.header-text span {
  font-weight: bolder;
  color: #6806e7b7;
}
.header-text button {
  font-weight: bolder;
  font-size: 15px;
  height: 50px;
  width: 150px;
  border-radius: 20px;
  background-color: #6806e7b7;
  color: #ecf3ff;
  border: none;
  transition: background-color 0.4s, color 0.4s;
}
.header-text button:hover {
  background-color: #ecf3ff;
  color: #6806e7b7;
  border: 1px solid #6806e7b7;
}
.header-image {
  background-color: #6806e7b7;
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px;
  display: none;
}
.header-image img {
  margin-bottom: 20px;
  margin-right: 20px;
  width: 600px;
}

/*About section*/
.about {
  margin-top: 50px;
  font-size: larger;
  color: ##2c3034;
  background-color: #ecf3ff;
  padding: 10px;
}
.about h2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about h2::after {
  display: block;
  content: "";
  background-color: #6806e7b7;
  height: 4px;
  width: 70px;
  margin: 5px;
}
.about-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.about-body div {
  width: 100%;
  font-size: 20px;
  padding: 5px;
  color: ##2c3034;
}
@keyframes about {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.about-body img {
  width: 100%;
  animation-name: about;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.about-body span {
  display: flex;
  justify-content: space-between;
  width: 100px;
  font-size: 40px;
}
.icon{
  transition: color 0.4s;
}
.icon:hover {
  color: #6806e7b7;
  margin: 0;
  padding: 0;
}

/*Skills section*/
.skills {
  background-color: #ecf3ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: ##2c3034;
  margin-top: 50px;
}
.skills h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills h3 {
  padding: 5px;
}
.skills h2::after {
  display: block;
  content: "";
  background-color: #6806e7b7;
  height: 4px;
  width: 70px;
  margin: 5px;
}
.all-skills {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}
.all-skills div {
  width: 100%;
  padding: 15px;
  background-color: #fefefe;
  margin-top: 20px;
  box-shadow: #e6e9ee 5px 5px 5px 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}
.all-skills p {
  font-size: 16px;
}
.all-skills span {
  background-color: #6806e7b7;
  height: 50px;
  width: 50px;
  color: #fefefe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bolder;
  align-items: center;
  margin: 5px;
}

/* project*/
.project {
  background-color: #ecf3ff;
  color: ##2c3034;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.project h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project h2::after {
  display: block;
  content: "";
  background-color: #6806e7b7;
  height: 4px;
  width: 70px;
  margin: 5px;
}
.project-list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.project-list h3 {
  font-weight: lighter;
}
.project-list div {
  width: 90%;
  margin-top: 15px;
  background-color: ##2c3034;
  border: 1px solid ##2c3034;
}
.project-list header {
  width: 100%;
  height: 200px;
}
.project-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.project-list section {
  padding: 10px;
  font-size: 16px;
  color: #ecf3ff;
}
.project-list span {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.project-list button {
  padding: 10px;
  background-color: #ecf3ff;
  border: none;
  font-size: 16px;
  font-weight: 500;
}
/*contact*/
.contact {
  background-color: #ecf3ff;
  color: ##2c3034;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.contact h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact h2::after {
  display: block;
  content: "";
  background-color: #6806e7b7;
  height: 4px;
  width: 70px;
  margin: 5px;
}
.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d2f1f6;
  width: 100vw;
  justify-content: center;
  min-height: 100px;
  padding: 10px;
}
.contact span {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact input {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  font-size: larger;
  border: 0.5px solid lightgray;
  color: ##2c3034;
}
.contact textarea {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  min-height: 150px;
  font-size: larger;
  border: 0.5px solid lightgray;
  color: ##2c3034;
}
.contact button {
  padding: 10px;
  font-size: larger;
  background-color: #6806e7b7;
  color: #fefefe;
  width: 50%;
  border: none;
  transition: background-color 0.4s, color 0.4s, font-wight 0.4s;
}
.contact button:hover {
  background-color: #ecf3ff;
  color: #6806e7b7;
  padding: 9px;
  font-weight: bolder;
  border: 1px solid #6806e7b7;
}

/*Footer*/
.footer {
  background-color: ##2c3034;
  color: #ecf3ff;
  font-size: 23px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  height: 150px;
}
.footer span {
  margin-top: 10px;
  font-size: 35px;
  width: 100px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 780px) {
  .popup article {
    width: 60%;
    padding: 20px;
  }
  .nav ul {
    display: flex;
  }
  .nav h2 {
    display: block;
  }
  .nav button {
    display: block;
  }
  .nav h1 {
    display: none;
  }
  .header {
    margin-top: 80px;
    flex-direction: row;
  }
  .header-text {
    width: 40%;
  }
  .header-image {
    width: 250px;
    height: 400px;
    border-radius: 100px;
    display: flex;
  }
  .header-image img {
    border-radius: 100px;
  }
  .about {
    padding-top: 80px;
  }
  .about-body {
    flex-direction: row;
  }
  .about-body div {
    width: 40%;
    font-size: 20px;
  }
  .about-body span {
    font-size: 45px;
  }
  .about-body img {
    width: 50%;
  }
  .skills {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .all-skills {
    flex-direction: row;
    width: 100%;
  }
  .all-skills p {
    font-size: 20px;
  }
  .all-skills div {
    border-radius: 0;
    width: 27%;
  }
  .project {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .project-list {
    flex-direction: row;
  }
  .project-list section {
    font-size: 20px;
  }
  .project-list div {
    width: 30%;
  }
  .project-list span {
    width: 100%;
  }
  .contact span {
    flex-direction: row;
  }
  .contact form {
    width: 70%;
    padding: 10px;
  }
  .contact input {
    width: 50%;
    margin-top: 0;
    margin: 10px;
  }
  .contact textarea {
    width: 98.5%;
    margin-top: 0;
    margin: 10px;
  }
  .contact button {
    width: 30%;
  }
}
